.vscode

# vivado projects
basys3*
nexys*

# vivado binaries
.Xil
-p
.gen
.srcs
xsim.dir
ip
*/*.bak

# bitstreams generated
*.bit

# vivado logs
*.jou
*.log
*.str

# testbench simulation dumps
*.vcd
*.wdb
*.zip
*.xml
*.pb
*.vvp
obj_dir

# checkpoints, reports, logs
bin

# docs
*.pdf
*.zip
docs/build
